<% provide(:title, t("contact")) %>
<h1><%= t("contact") %></h1>
<p>
  <%= t("contact_page.Contact_the_Ruby_on_Rails_Tutorial_about_the_sample_app_at_the") %>
  <%= link_to "contact page", "http://www.railstutorial.org/contact" %>.
</p>
